In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../Break_map.csv')
print(df.shape)
df.head()

(1995, 2)

  BREAK_MAP COUNT
0        38   303
1        37    27
2     36,38     3
3        36    69
4        35    40